/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"); */

 /* font-family: "Comfortaa", sans-serif; */
  /* font-family: "Fredoka", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

header {
  background-color: #f9f9f9;
  padding: 0.2rem 2rem;
  width: 100%;
  top: 0;
  position: fixed;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 2rem; 
  height: 65px;
  margin: 0;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 50px;
}

.logo {
  display: flex;          
  align-items: center;              
}

.logo svg {
  max-width: 95px;  
  padding: 10px;     
}

.petShopName {
    color: #c46d25;
    font-family: "Darumadrop One", sans-serif;
    font-size: 20px;
    padding: 0;
    margin: -5px;
}

.logo img {
  width: 90px;
  margin-top: 9px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: #A85B1F;
}

.nav-links li a:hover {
  color: #f68c64;
}

.cta-button {
  background-color: #c46d25;
  color: white;
  border-radius: 100px;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.cta-button:hover {
  background-color: #f68c64;
}
